.productsDetails
  lost-center 1120px flex
  border-top 1px solid $frisa__light-grey
  padding-top 4rem
  padding-bottom 4rem
  
  +below(900px)
    wrapped(90%)
  
  & .title
    margin-top 0
  
  .productCapabilities
    lost-column 8/12 0 flex
    
  .certifications
    lost-column 4/12 0 flex
    
  .productCapabilities
  .certifications
    +below(600px)
      margin-bottom 2rem
      lost-column 1 0 flex