.sectionContent
  wrapped()
  lost-flex-container row
  margin-top 4rem
  margin-bottom 4rem
  
  & > div
    lost-column 1/2 flex
    margin-bottom 1rem
      
    +below(900px)
      lost-column 1 flex
    
  +below(1120px)
   wrapped(90%)
