// ======================================================//
// Text utilities
// ======================================================//
$text-white
  color white
  
$text-center
  text-align center


// ======================================================//
// Normal content / p
// ======================================================//
.text
  color $frisa__grey
  line-height 1.75


// ======================================================//
// Titles
// ======================================================//
.title
  margin-top .5rem
  margin-bottom 1.5rem
  font-weight 400
  font-size 2rem
  color $frisa__red
  
  &--small
    font-size 1.25rem
    margin-bottom 1rem
  
  &--white
    color white

  &--grey
    color $frisa__grey

  &__slider
    font-size 2.75rem
    font-weight 700
  


