// ======================================================//
// Text utilities
// ======================================================//
$text-white
  color white
  
$text-center
  text-align center


// ======================================================//
// Normal content / p
// ======================================================//
.text
  margin-top 0
  margin-bottom 1.5rem
  color $frisa__grey
  line-height 1.75


// ======================================================//
// Titles
// ======================================================//
.title
  color $frisa__grey
  font-size 2rem
  line-height 1.125
  font-weight 400
  
  &__red
    color $frisa__red
    
  &__small
    font-size 1.5rem

  &__white
    color white
    
  &__slider
    font-size 2.75rem
    font-weight 700
    
.subtitle
  margin-bottom 0
  font-size 1.25rem
  font-weight bold
  color $frisa__red
