html {
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'NeoSansStd-Bold';
    src: url('original_NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'), 
         url('original_NeoSansStd-Bold.woff') format('woff'),
         url('original_NeoSansStd-Bold.ttf') format('truetype'),
         url('original_NeoSansStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'NeoSansStd-Regular';
    src: url('original_NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'), 
         url('original_NeoSansStd-Regular.woff') format('woff'),
         url('original_NeoSansStd-Regular.ttf') format('truetype'),
         url('original_NeoSansStd-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.tipoB{
    font-family:'NeoSansStd-Bold', Sans-Serif;
}

.tipoN{
  font-family:'NeoSansStd-Regular', Sans-Serif;  
}

li{
    float: left;
    list-style:none;
    text-align: left;
}

nav{
 position: fixed;
 z-index: 5555;
 width: 100%;
 height: 100px;
 background: #d3211f;
 opacity: .9;   
    
     -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
transition: background .5s ease-in-out,padding .5s ease-in-out;
}

ul{
 vertical-align: middle;
 padding-left: 200px;
    
}

.logotipo{
    
  float: left;   
}

#lineaGris{
    
 width: 100%;
 background: #71777a;
 height: 4px;
 z-index: 6666;
}

.container{
 width: 1088px;
 margin: 0 auto;
 height: 80px;
 margin-top: -16px;
     
}

.menu{
    
    padding-left: 108px;}

.pie{
 height: 262px;
 background: #414141;
width: 100%;
}

.centered{
 text-align: center;
}

.fontred{
    color: #ce181e;
}

.fontgrey{
 color: #767b7d;   
}



.fontW{
 color: #fff;   
}

@media all and (max-width: 1024px) {
    #carouselbotones { display:none; }
}


/*Botones*/

.botontipo1: hover{
    text-decoration: underline;
    text-decoration-color: #fff;
    
}

.botontipo1{
    text-decoration: underline;
    text-decoration-color: #fff;
}

.btn-tipo2:hover{
 background-color:#e41b22;  
 border-radius: 4px;
 color: #fff;
 border-color: none;
-webkit-appearance: none;
border  : 1px solid #e41b22;
    
}

.btn-tipo2{
 padding-top: 5px;
 background-color:#fff; 
 color: #e41b22; 
 border-radius: 4px;
 font-size: 13px !important;
 font-family:'NeoSansStd-Regular', Sans-Serif;  
 border-color: none;
 width: 76px;
 height: 26px;
-webkit-appearance: none;
border  : 1px solid #fff;
 cursor: pointer
}

.btn-tipo3:hover{
 background-color:#e41b22;  
 border-radius: 4px;
 color: #fff;
 border-color: none;
-webkit-appearance: none;
border  : 1px solid #e41b22;
    
}

.btn-tipo3{
 background-color:#960a0f; 
 color: #fff; 
 border-radius: 4px;
 font-size: 13px !important;
 font-family:'NeoSansStd-Regular', Sans-Serif;  
 border-color: none;
 width: 76px;
 height: 26px;
-webkit-appearance: none;
border  : 1px solid #960a0f;
 cursor: pointer
}


.btn-tipo4:hover{
 background-color:#e41b22;  
 border-radius: 4px;
 color: #fff;
 border-color: none;
-webkit-appearance: none;
border  : 1px solid #e41b22;
    
}

.btn-tipo4{
 background-color:#960a0f; 
 color: #fff; 
 border-radius: 4px;
 font-size: 13px !important;
 font-family:'NeoSansStd-Regular', Sans-Serif;  
 border-color: none;
 width: 86px;
 height: 26px;
-webkit-appearance: none;
border  : 1px solid #960a0f;
 cursor: pointer
}



.btn-tipo5:hover{
 background-color:#666060 ;  
 border-radius: 4px;
 color: #fff;
 border-color: none;
-webkit-appearance: none;
border  : 1px solid #666060;
    
}

.btn-tipo5{
 background-color:#4e4949; 
 color: #fff; 
 border-radius: 4px;
 font-size: 13px !important;
 font-family:'NeoSansStd-Regular', Sans-Serif;  
 border-color: none;
 width: 86px;
 height: 26px;
-webkit-appearance: none;
border  : 1px solid #4e4949;
 cursor: pointer
}

/*Navegador*/


#primary_nav_wrap
{

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#666;
	text-decoration:none;
	
	font-size:16px;
	
	padding:0 15px;
	 font-family:'NeoSansStd-Regular', Sans-Serif;  
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	
	padding:0;
    z-index:999999;
    
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}



#primary_nav_wrap ul ul
{
   
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
    color: #666;
	padding:0;
    width: 200px;
}

#primary_nav_wrap ul ul li
{
	float:none;

    
}

#primary_nav_wrap ul ul a
{
	line-height:80%;
	padding:10px 10px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.logotipo{
 margin-top: -38px;
 margin-right: 108px;
}

.menuSuperior{
  margin-top: 38px;   
}

#menu-2{

 color: #fff;
height: 58px;
}

#menu-2-2:hover{
 border-bottom:4px solid #fff;
 height: 54px;
}
 #menu-2-2{
height: 54px;
 color: #fff !important;
}


#menu-3{

 color: #fff;
height: 58px;
}

#menu-3-3:hover{
 border-bottom:4px solid #fff;
 height: 54px;
}
 #menu-3-3{
height: 54px;
 color: #fff !important;
}

#menu-4{
 color: #fff;
height: 58px;
}

#menu-4-4:hover{
 border-bottom:4px solid #fff;
 height: 54px;
}
 #menu-4-4{
height: 54px;
 color: #fff !important;
}

#menu-5{

 color: #fff;
height: 58px;
}

#menu-5-5:hover{
 border-bottom:4px solid #fff;
 height: 54px;
}
 #menu-5-5{
height: 54px;
 color: #fff !important;
}


#menu-6{

 color: #fff;
height: 58px;
}

#menu-6-6:hover{
 border-bottom:4px solid #fff;
 height: 54px;
}
 #menu-6-6{
height: 54px;
 color: #fff !important;
}
.submenu:hover{
 
 background: #ddd;   
}

#logo2{
  float: left;   
   padding-right: 27px; 
}

#icono{
    
 float: left;
padding-right: 27px
}


#boton-idioma{
float: left;  
    
}

#menu-derecha{
 float: right;
    margin-top: -5px;
}

.fa-search{
 color: #fff;
 font-size: 50px;
}


/*seccion contacto*/


#contacto{
    background: #414141;

}

#col-1{
 float: left;
 padding-right: 96px;
 padding-top: 30px;  
}

#col-2{
  float: left; 
  padding-right: 96px;
  font-size: 14px;
 padding-top: 30px;  
}

#col-3{
 color: #fff !important;
 font-size: 14px;
padding-top: 30px;  
}

.link-abajo{
    
 color: #fff;   
}


.container3{
 width: 936px;
 margin: 0 auto;
 height: 215px;

padding-top: 30px;     
}

.foot{
 font-size: 12px !important;  
 padding-bottom: 5px; 
}


.navmin{
    
 height: 70px !important;
   -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
   
}


.navmin2{
    
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
margin-top:  26px;    
}
.menu-5{
 height: 10px !important;
 color: #fff;
}


@media all and (max-width: 1024px) {
    #carouselbotones { display:none; }
}


.red{
 
    color: #d32f34;
    
}

.gris{
    
 color: #7c7c7c;   
}

.hr-central{
border: 0; border-top: 1px solid #555555; border-bottom: 0px solid #333; height:0;
}

.menuhr{
 margin: 0px !important;
 padding: 0px !important;
 border: 0; border-top: 1px solid #ddd; border-bottom: 0px solid #999; height:0;
}


.footer-separador{
    
  border: 0; border-top: 1px solid #555555; border-bottom: 0px solid #333; height:0;  
}


.menu-33{
    
   height: 40px; 
}


.menu-22{
   height: 36px; 
}