.main-header
  wrapped()
  clear fix
  width 100%
  border-top 3px solid $frisa__grey
  background-color rgba($frisa__red, .9)
  z-index 10
  
  &--body
    position fixed
  
  +below(1120px)  
    wrapped(95%)

  &__logo
    display block
    float left
    width 76px
    
    img
      display block
      width 100%