.mainSlider
  height 100vh
  background-color tomato

  & .unslider
  & .fullSlider
  & ul
  & ul li
    height 100%
    
  & ul li
    display flex
    align-items center
    justify-content center
    padding-top 99px
    
  & .unslider-arrow
      top calc(50% + 50px)
      transform translateY(-50%)

.slideContent
  color white
  text-align center
  
.slideTitle
  font-size 4.75rem
  font-weight bold
  text-transform uppercase
  margin-top 0
  margin-bottom 0
  
.slideSubtitle
  margin-top 0
  font-weight 400
  font-size 2rem
  
.slideContent-actions
  margin-bottom 2rem
  
.slide_frisa
  background url('/img/slide_01.jpg') center no-repeat
  background-size cover
  
.unslider-nav
  position absolute
  bottom 0
  width 100%
  background-color rgba(black, .5)