.mainHeader
  wrapped()
  display flex
  align-items center
  justify-content space-between
  width 100%
  background-color rgba($frisa__red, .9)
  border-top 3px solid $frisa__grey
  z-index 10
  
  +below($desktop)
    wrapped(90%)
    padding-top 1rem
    padding-bottom 1rem
  
  &.isFixed
    position fixed
    
  &.isScrolled
    .logo__mainHeader
      display none
      
    .logo__mainHeader2
      display block
      
    .mainNav-link
      padding-top 25px
      padding-bottom 25px