.materials
  wrapped()
  clear fix
  padding-bottom 6rem
  
  &-table
    table-layout fixed
    text-align left
    color $frisa__grey
    width 100%
    
  .title
    margin-bottom 0
    
  thead
    color $frisa__red
      
  th
  td
    border 1px solid $frisa__light-grey
    padding .25rem 2rem
    width 25%
    
    +below($mobile)
      padding .25rem

    &:first-child
      border-left 0
      
    &:last-child
      border-right 0

  th
    font-weight 600
    +below($mobile)
      font-size .825rem
            
  td
    font-size .825rem
    +below($mobile)
      font-size .7rem