.products-subNav
  wrapped()
  display flex
  justify-content center
  position fixed
  top 102px
  right 0
  left 0
  z-index 5
  background-color white
  text-align center
  
  &.is-scrolled
    top 69px
  
  &.is-active .products-subNav-item
    display block
    
  +below($desktop)
    top 69px
  
  +below($mobile)
    flex-direction column
  
  &-item
    font-size .8125rem
    padding-top 1rem
    padding-bottom 1rem
    color $frisa__grey
    text-decoration none
    
    +below($desktop)
      display none

    &:hover
    &.active
      display block
      color $frisa__dark-grey
      
    +above($mobile)
      margin-right 2rem
      margin-left 2rem
