.productCapabilities
  
  table
    width 100%
    border-bottom 1px solid $frisa__red
  
  tr
    border-top 1px solid $frisa__light-grey
    
  td
    padding-top .5rem
    padding-bottom .5rem
    color $frisa__grey

    &:first-child
      color $frisa__red
      width 30%
    
    &:last-child
      width 70%