.products-subNav
  wrapped()
  display flex
  justify-content center
  text-align center
  
  &.isFixed
    position fixed
    top 0
    right 0
    left 0
    z-index 10
    background-color white
  
  +below(900px)
    flex-direction column
  
  &-item
    font-size .8125rem
    padding-top 1rem
    padding-bottom 1rem
    color $frisa__grey
    text-decoration none

    &:hover
    &.active
      color $frisa__dark-grey
      
    +above(600px)
      margin-right 2rem
      margin-left 2rem
