.sectionHeader
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding-top 90px
  min-height 400px
  height 40vh
  text-align center
  
  +below(800px)
    wrapped(90%)
  
  &-title
  &-subtitle
    @extend .title
    color white
    
  &-title
    margin-top 0
    margin-bottom 1rem
    font-weight bold
    
  &-subtitle
    margin 0
    
  &-industries
    background url('/img/industries/header-industries.jpg') center no-repeat
    background-size cover

  &-aerospace
    background url('/img/industries/header-aerospace.jpg') center no-repeat
    background-size cover
    
  &-construction-and-mining
    background url('/img/industries/header-construction-and-mining.jpg') center no-repeat
    background-size cover

  &-industrial-machinery
    background url('/img/industries/header-industrial-machinery.jpg') center no-repeat
    background-size cover

  &-oil-and-gas
    background url('/img/industries/header-oil-and-gas.jpg') center no-repeat
    background-size cover

  &-power-generation
    background url('/img/industries/header-power-generation.jpg') center no-repeat
    background-size cover
    
  &-wind-power
    background url('/img/industries/header-wind-power.jpg') center no-repeat
    background-size cover

  &-products
    background url('/img/products/header-products.jpg') center no-repeat
    background-size cover

  &-services
    background url('/img/services/header-services.jpg') center no-repeat
    background-size cover

  &-quality
    background url('/img/header-quality.jpg') center no-repeat
    background-size cover
