.sectionDetails
  
  .detail
    position relative
    margin 0
    // height 2rem
    padding-top .5rem
    padding-bottom .5rem
    overflow hidden
    border-top 1px solid $frisa__grey
    color $frisa__red
    cursor pointer
    transition 300ms all ease-in-out
    
    &:last-child
      border-bottom 1px solid $frisa__grey
      
    &.is-open:after
      transform rotate(180deg)
      
    &:after
      position absolute
      top 3px
      right 0
      display block
      overflow auto
      width 24px
      height 24px
      content url(/img/arrow-down.png)
  
  span
    display none
    margin-top .5rem
    color $frisa__grey
