.sectionSlider
  text-align right
  
  +below(900px)
    order 10
    text-align center

.gallery-open
  position relative
  display block
  margin-bottom 1rem
  margin-left auto
  padding 0 2.5rem 0 0
  border 0
  background transparent
  color $frisa__grey
  
  &:after
    position absolute
    top 0
    right 0
    content url(/img/gallery-icon.png)

.gallery-close
  position absolute
  top 10px
  right 10px
  display none
  padding 0
  width 2rem
  height 2rem
  border 0
  font-size 2rem
  transform rotate(45deg)
  z-index 1
  background transparent
  color white

.isFixed
  position fixed
  top 10%
  right 10%
  left 10%
  
  & .gallery-close
    display block
  
  &:before
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    content ''
    background-color rgba(black, .8)

    
    