.subNav
  wrapped()
  background-color $frisa__grey
  display flex
  justify-content center
  text-align center
  
  &-item
    padding 1rem 1.5rem
    color rgba(white, .6)
    text-decoration none

    &:hover
      color white