.subNav
  wrapped()
  background-color $frisa__grey
  display flex
  text-align center
  
  +below(900px)
    flex-direction column
  
  &-item
    padding-top 1rem
    padding-bottom 1rem
    color rgba(white, .6)
    text-decoration none
    
    &:last-child
      margin-right 0

    &:hover
      color white
      
    +above(600px)
      margin-right 1rem
      margin-left 1rem