.viewMaterials
  lost-center 1120px flex
  padding-top 4rem
  padding-bottom 4rem
  align-items center
  justify-content center
  border-top 1px solid $frisa__light-grey
  
  +below(800px)
    wrapped(90%)
    flex-direction column
    
    .btn__viewMaterials
      width 100%
  
.info
  lost-column 6/12 0 0 flex
  
  +below(800px)
    margin-bottom 2rem
    width 100%