.aerospace-engine
  position relative
  color $frisa__grey
  line-height 1.75
  
  img
    padding-bottom 1rem
    width 100%
    border-bottom 1px solid $frisa__light-grey
    
  span
    color $frisa__red
    
  .dotList
    min-height 150px
    
  .engine-description
    display none
    
    +below($mobile)
      display block
    
    &.active
      display block
      
.btn-aerospace
  &.btn-1
    top 9%
    left 18%
    +below($mobile)
      top 2%
    
  &.btn-2
    top 11%
    left 53%
    +below($mobile)
      top 3%
      left 50%
    
  &.btn-3
    top 11%
    left 65%
    +below($mobile)
      top 4%
      left 60%
    
  &.btn-4
    top 20%
    left 65%
    +below($mobile)
      top 7%
      left 60%
    
  &.btn-5
    top 20%
    right 13%
    +below($mobile)
      top 6%
