.lists

  ul
    padding 0
    list-style none
    
  li
    padding-top .5rem
    padding-bottom .5rem
    color $frisa__grey
    border-top 1px solid $frisa__light-grey
    
    &:last-child
      border-bottom 1px solid $frisa__light-grey
