.logo
  display block
    
  img
    display block
    width 100%

.logo__mainHeader
  float left
  width 75px
  
  +below($desktop)
    display none

.logo__mainHeader2
  float left
  width 120px

  +above($desktop)
    display none

.logo__efrisa
  width 75px
    
.logo__footer
  margin-bottom 2rem
  max-width 100px
    
  +below(900px)
    margin-right auto
    margin-left auto
